
  <body >
  
  
 <div class="container" ng-controller="homeCtrl">
   <form role="form" name="userform" ng-submit="submitForm(userform.$valid)" novalidate>
  
     <div class=" row">
       <label>Email:</label>
      <input type="email" class="form-control" name="email" ng-model="email" placeholder="email" required></input>
       <p ng-show="userform.email.$invalid && userform.email.$dirty" class="help-block">invalid email.</p>
     </div>
     <div class="row">
       <label>Password:</label>
      <input type="password" class="form-control" name="password" ng-model="password"  placeholder="password" required></input>
    <p ng-show="userform.password.$invalid && userform.password.$dirty" class="help-block">password required.</p>
     </div>
  
     <div class="row">
      <button type="submit" class="btn btn-primary"  ng-disabled="userform.$invalid">Submit</button>
     </div>
   </form> 
 </div>
</div>  
 

  </body>
 
