
  <body >
  
  
  
 <div class="container">
   <form role="form">
     <div class="form-group ">
     <div class="row ">
       <label>Name:</label>
      <input type="text" class="form-control"></input>
     </div>
     <div class=" row">
       <label>Email:</label>
      <input type="email" class="form-control"></input>
     </div>
     <div class="row">
       <label>Password:</label>
      <input type="password" class="form-control"></input>
     </div>
     <div class="row">
       <label>Confirm Password:</label>
      <input type="password" class="form-control"></input>
     </div>
   </form> 
 </div>
</div>  
 

  </body>